@charset "UTF-8";
.header {
  margin-bottom: 8rem; }
  .header__copy {
    margin-top: 8rem; }

.hero {
  padding: 0;
  position: relative; }
  .hero__bkg-img {
    width: 100%; }
  .hero__logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 25%; }
  .hero__menu-container {
    position: absolute;
    top: 0;
    right: 0; }
  .hero__profile-box {
    background-color: #eee;
    display: inline-block;
    padding: 3rem 2rem;
    font-size: 1.6rem;
    width: 18rem;
    position: absolute;
    bottom: 0%;
    left: 9%;
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  .hero__demo-circle {
    width: 9rem;
    height: 9rem;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 45%);
    transform: translate(-50%, 45%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 3rem) / 4) + 2 * 3rem); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: kozuka-gothic-pr6n, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300; }

.centered-features-list {
  list-style: none;
  text-align: center; }

.copy-header {
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 200;
  letter-spacing: 1.3rem; }

.copy-subheader {
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 200; }

.red-emphasis {
  color: #e60012;
  font-weight: 500; }

.font-large {
  font-size: 2.8rem; }

.explanatory-text {
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem; }

.footer {
  background-image: url(../img/wave.png);
  background-size: cover;
  width: 100%;
  height: 20rem;
  margin: 0;
  color: white;
  text-align: center;
  padding-top: 8rem; }
  .footer__header {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 4.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-list-style-none {
  list-style: none; }

.btn {
  border: 1px solid black;
  text-align: center;
  position: relative; }
  .btn--round {
    border-radius: 50px;
    font-size: 1.8rem;
    padding: 1.2rem 6rem 1.2rem 4rem; }
  .btn--square {
    font-size: 2rem;
    padding: 3rem 10rem 3rem 8rem;
    background-color: white;
    border: 2px solid #e60012;
    font-weight: 500; }
  .btn--icon-adjust {
    top: .7rem; }
  .btn:link, .btn:visited {
    color: black;
    text-decoration: none; }
  .btn i {
    color: #e60012;
    font-size: 3rem;
    display: inline-block;
    position: absolute; }

.hamburger-menu {
  padding: 1.5rem;
  background-color: #e60012;
  height: 7rem;
  width: 7rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: 200; }
  .hamburger-menu__line {
    height: 10%;
    width: 100%;
    margin-bottom: 20%;
    background-color: white; }

.demo-circle {
  color: white;
  text-align: center;
  background-color: #e60012;
  display: inline-block;
  padding: 1.5rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  font-family: kozuka-gothic-pr6n, sans-serif; }
  .demo-circle__text {
    font-size: 3rem; }
  .demo-circle__arrow {
    display: inline-block;
    margin-top: -1.4rem;
    font-size: 4rem; }

.chat {
  font-size: 1.6rem;
  min-height: 70px; }
  .chat__photo {
    display: inline-block;
    float: left;
    margin-right: 2rem; }
    .chat__photo::after {
      content: "";
      clear: both;
      display: table; }
  .chat__name {
    color: #e60012;
    font-weight: 600; }
  .chat__text {
    display: inline-block;
    max-width: 80%; }

.point-box {
  background-color: white;
  width: 100%;
  padding: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 6rem;
  position: relative; }
  .point-box__bubble {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center; }
  .point-box li {
    margin-bottom: 2rem;
    position: relative; }
  .point-box__number {
    display: inline-block;
    margin-right: 2rem;
    background-color: #e60012;
    color: white;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    padding: .4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .point-box__text {
    display: inline-block;
    max-width: 80%;
    margin-left: 4.5rem; }

.point-bubble {
  position: relative;
  background: #e60012;
  color: white;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .point-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-top-color: #e60012;
    border-bottom: 0;
    margin-left: -1rem;
    margin-bottom: -.9rem; }
  .point-bubble--oval {
    font-size: 1.8rem;
    border-radius: 50px;
    padding: 1rem 3rem; }

.point-bubble--round {
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.6rem;
  padding: 2rem 0;
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  line-height: 2.7rem;
  position: relative;
  background: #e60012;
  text-align: center;
  color: white;
  display: inline-block;
  border-radius: 50%; }
  .point-bubble--round:after {
    content: "";
    background-color: #e60012;
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 20%;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 90%);
    transform: translate(-50%, 90%); }

.before-after-box {
  width: 49.8%;
  display: inline-block;
  font-size: 1.6rem;
  padding: 4.5rem 0 9rem 9rem;
  position: relative; }
  .before-after-box__heading {
    text-align: center;
    margin-bottom: 4rem;
    -webkit-transform: translateX(calc(9rem / -2));
    transform: translateX(calc(9rem / -2));
    font-weight: 400;
    font-family: kozuka-gothic-pr6n, sans-serif; }
  .before-after-box__table {
    width: 100%; }
    .before-after-box__table tr td:not(:last-of-type) {
      padding-right: 4rem; }
  .before-after-box__table-dot {
    font-size: 2rem;
    font-weight: 700; }
  .before-after-box__triangle {
    height: 5rem;
    width: 2.5rem;
    background-color: white;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .before-after-box:last-of-type {
    background-color: #fbd9dc; }
    .before-after-box:last-of-type .before-after-box__table-dot, .before-after-box:last-of-type .before-after-box__heading {
      color: #e60012; }

.image-copy-box {
  background-color: white;
  max-height: 242px; }
  .image-copy-box::after {
    content: "";
    clear: both;
    display: table; }
  .image-copy-box__image {
    float: left;
    margin-right: 5%; }
  .image-copy-box__copy {
    display: inline-block;
    padding-top: 4rem;
    max-width: 50%; }
  .image-copy-box__heading {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 3rem; }
  .image-copy-box__text {
    font-size: 1.6rem; }

.textbox-pop {
  background-color: white;
  color: #e60012;
  font-size: 2.5rem;
  font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 200;
  padding: 4rem 5rem; }

.card {
  border: 1px solid #777;
  padding-bottom: 3rem; }
  .card__header {
    text-align: center;
    color: white;
    background-color: #e60012;
    width: 100%;
    padding: 4rem 3%;
    font-size: 2rem;
    font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
    font-weight: 300; }
  .card__image {
    width: 100%; }
  .card__text {
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-size: 1.6rem;
    padding: 2rem; }
  .card__btn {
    display: block;
    text-align: center;
    margin: 2rem 0; }

.section-chat {
  padding: 5rem 6rem;
  position: relative; }
  .section-chat__image {
    position: absolute;
    top: 5rem;
    right: 0; }
  .section-chat__chat > * {
    margin-bottom: 4rem; }
  .section-chat__button {
    margin-top: 8em;
    text-align: center; }

.section-points {
  padding: 5rem 9rem;
  background-color: #eee; }
  .section-points__points {
    margin-top: 10rem; }

.section-before-after {
  margin: 0;
  width: 100%; }

.section-cta {
  padding: 5rem 9rem;
  background-color: #eee; }
  .section-cta__btn {
    text-align: center;
    margin: 9rem 0 5rem 0; }

.section-carousel {
  padding: 5rem 9rem; }

.section-creek-and-river {
  margin: 0;
  background-image: url(../img/img.png);
  background-size: cover;
  background-position: right;
  height: 30rem;
  position: relative; }
  .section-creek-and-river__textbox-pop {
    position: absolute;
    bottom: 0;
    left: 6rem; }

.section-cards {
  padding: 5rem 6rem; }

.section-support {
  padding: 9rem 9rem 4rem 9rem;
  background-color: #eee;
  position: relative; }
  .section-support__features-list {
    margin: 2rem 0;
    font-size: 1.6rem;
    line-height: 3rem; }
  .section-support__point-bubble {
    position: absolute;
    bottom: 0;
    left: 9rem;
    -webkit-transform: rotate(-30deg) translateY(10%);
    transform: rotate(-30deg) translateY(10%); }

.section-difference {
  background-color: #eee;
  padding: 0 0 5rem 0; }
  .section-difference__white-space {
    background-color: white;
    padding: 10rem;
    margin: 0 6rem 0 6rem; }
